*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#logo{
    width: 30%;
}
#logo2{
    width: 50%;
}

#icon{
    font-size: 35px;
    display: none;
}
#get-direction{
    border: 1px solid white;
    padding: 15px 20px;
    cursor: pointer;
}