


#logo{
    width: 30%;
}

#icon{
    font-size: 35px;
    display: none;
}
@media(max-width:800px){
    .nav-items{
        display: none;
    }
    
    #icon{
        display: inline-block ;
    }

}

#order-online{
    background-color: #ff0000;
    border: 0px;
    padding: 15px 20px;
    cursor: pointer;
}

#carousel-image{
    width:100% ;
   
}
@media(max-width:800px){
    #carousel-image{
        width: 100%;
    }
}
